body.layout-welcome {
  #_drawer.cover {
    transform: translateX(0) !important;
    visibility: visible !important;
    
    &::before {
      display: none; 
    }
    
    #_sidebar {
      transform: translateX(0) !important;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
    }
  }
  
  #_main {
    display: none;
  }
}